{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
    <h1>Wingnut</h1>
    <hr><br>
    <a href="/rq">rq dashboard</a>
    <br />
    <div>
      <h3>Configuration</h3>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>Setting</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody id="configuration">
        </tbody>
      </table>
    </div>
    <div>
      <h3>Diagnostics</h3>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>Metric</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody id="diagnostics">
        </tbody>
      </table>
    </div>
    <div>
      <h3>Task Status</h3>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody id="tasks">
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
